Repository usnistgov/fipy, pull requests merged in 2019-04, with the labels that each got.

#633 Issue631 clean up installation rst
  INSTALLATION.rst
  documentation/contents.rst
Labels: documentation, installation

#634 Issue623 start using versioneer
  .gitattributes
  MANIFEST.in
  documentation/ADMINISTRATA.rst
  documentation/GIT.rst
  fipy/__init__.py
  fipy/_version.py
  setup.cfg
  setup.py
  versioneer.py
Labels: enhancement, installation

#632 Issue602 revise build and release documentation
  documentation/ADMINISTRATA.rst
  examples/updating/update1_0to2_0.py
  examples/updating/update2_0to3_0.py
Labels: documentation, installation

#638 Issue627 document OMP_NUM_THREADS
  documentation/ADMINISTRATA.rst
  documentation/USAGE.rst
  documentation/conf.py
  documentation/pyplots/threadanalyze.csv
  documentation/pyplots/threadanalyze.py
Labels: documentation, parallel

#637 Issue625 setup py should not import fipy bis
  .circleci/config.yml
  _setup/__init__.py
  _setup/build_docs.py
  _setup/changelog.py
  _setup/copy_script.py
  _setup/testClass.py
  _setup/upload_products.py
  fipy/tools/performance/efficiencyTestGenerator.py
  fipy/tools/performance/efficiencyTestHistory.py
  fipy/tools/performance/efficiency_test.py
  fipy/tools/performance/memoryLeak.py
  fipy/tools/performance/memoryLogger.py
  fipy/tools/performance/memoryUsage.py
  setup.cfg
  setup.py
Labels: installation

#639 Issue565 pip install does not work on empty env
  setup.py
Labels: installation

#640 Changelog for 3.2
  .gitignore
  CHANGELOG.rst
  documentation/glossary.rst
Labels: documentation

#641 Fix fipy.test doesn't work
  .appveyor.yml
  .circleci/config.yml
  _setup/testClass.py
  documentation/USAGE.rst
  fipy/__init__.py
  fipy/tests/test.py
  setup.py
Labels: bug, tests

#642 Fix ADMINISTRATA
  .gitignore
  MANIFEST-UNIX.in
  _setup/release.py
  documentation/ADMINISTRATA.rst
  setup.py
Labels: installation

#644 gmshMesh.py compatibility with Gmsh > 3.0.6
  fipy/meshes/gmshMesh.py
Labels: meshes
